header {
  background-color: darkblue;
  width: 85%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 15px;
}
nav {
  background-color: darkblue;
}
.navbar-brand {
  color: white;
  text-decoration: none;
  cursor: default;
}
